.mySelf {
  display: flex;
  justify-content: center;
}

.mySelf img {
  border-radius: 50%;
}

.mePick {
  border: 10px solid #1f2833;
}

.myName {
  background-color: black;
  font-size: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
